@import 'tailwindcss';

@theme inline {
    --font-sans: var(--font-roboto-condensed), ui-sans-serif, system-ui, sans-serif;
    --font-serif: var(--font-roboto), ui-serif, Georgia, serif;
    --font-mono: var(--font-roboto-condensed), ui-monospace, monospace;
    --font-abril: var(--font-abril-fatface);
}
